@import "tailwindcss";

:root {
  background-color: rgb(8, 85, 61);
  color: #FAF1E6;
}

nav ul li {
  @apply px-3 py-2 hover:bg-neutral-50/10 rounded transition cursor-pointer
}

.font-limelight {
  font-family: var(--font-limelight);
}